<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CustoCerto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-principal">
        <header class="cabecalho">
            <h1>CustoCerto</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/ingredientes">Ingredientes</a>
                <a href="/receitas">Receitas</a>
                <a href="/usuarios/login">Login</a>
            </nav>
        </header>
    </div>

    <main>
        <%- body %>
    </main>

    <footer>
        &copy; 2026
    </footer>
</body>
</html>