<h1>Novo Ingrediente</h1>
<form action="/ingredientes/novo" method="POST">
    <label>Nome</label>
    <input type="text" name="nome"><br>

    <label>Unidade</label>
    <input type="text" name="unidade"><br>

    <label>Preço</label>
    <input type="number" step="0.01" name="preco"><br>
    
    <button type="submit">Salvar</button>
</form>