<h1>Nova Receita</h1>
<form action="/receitas/nova" method="POST">

    <label>Nome da receita</label>
    <input type="text" name="nome"><br>

    <label>Rendimento</label>
    <input type="number" name="rendimento">

    <h3>Ingredientes</h3>
    <% ingredientes.forEach(function(i){ %>
        <div>
            <label><%= i.nome %></label>
            <input type="number"
            name="ingredientes[<%= i.id_ingrediente %>]"
            step="0.01"
            placeholder="Quantidade">
        </div>
    <% }) %><br>
    
    <button type="submit">Salvar Receita</button>
</form>